.checkbox__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.checkbox__border {
    opacity: 1;
}

.checkbox__check {
    opacity: 0;
    transition: fill 250 ms $timing-function;
}

.checkbox__input:checked + .checkbox__icon>.checkbox__check {
    opacity: 1;
    fill: $background-color-hover;
}

.checkbox__input:checked + .checkbox__icon>.checkbox__border {
    opacity: 0;
}

.checkbox__input:focus + .checkbox__icon>.checkbox__check {
    opacity: 1;
    fill: $background-color-hover;
}

.checkbox__input:focus + .checkbox__icon>.checkbox__border {
    opacity: 0;
}